:root {
  --Sec-color: #1c61ff;
  --main-color: #030303;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  color: inherit;
}
.Container {
  position: relative;
  width: 100%;
  margin-top: 80px;
  height: auto;
}
.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 111;
}
.Navbar .right img{
  width: 35px;
  height: 35px;
  margin:5px  0  -15px 0;
}
.Navbar .left {
  margin: 0 75px;
}
.Navbar .left h1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Navbar .left h1 img {
  width: 40px;
}
.Navbar .center ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 45px;
  font-weight: 400;
}
.center ul .active {
  color: var(--Sec-color);
  font-weight: 600;
}
.Navbar .right {
  margin: 0 60px;
  display: flex;
  gap: 15px;
}
.Navbar .right a {
  padding: 11px 25px;
  border-radius: 4px;
  border: 1px solid #1c61ff;
  font-weight: 600;
  letter-spacing: 1px;
}
.User_btn{
  padding: 11px 25px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.right .active {
  background-color: var(--Sec-color);
  color: white;
}

/* loginpage */
.LOGINForm {
  width: 100%;
  overflow: hidden;
}

.LOGINForm .form {
  margin: 2rem auto;
  width: 30%;
  height: 75vh;
  border-radius: 5px;
  background-color: #1c61ff;
  color: #fff;
  display: flex;
}
.LOGINForm .form form {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.form form h1 {
  margin-bottom: 1.2rem;
}

.form form input {
  border-radius: 5px;
  width: auto;
  height: 50px;
  padding: 0 10px;
  border: 1px solid white;
  outline: none;
  margin-top: 10px;
  font-weight: 600;
}

.form form small {
  margin: 15px 0;
  cursor: pointer;
}

.form form button {
  padding: 14px 0;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.form form a {
  font-size: 12px;
  width: 85%;
  font-weight: 500;
}

.form form .in-signup {
  margin: 10px 0;
}

.form form a {
  cursor: pointer;
  font-size: 12px;
  margin-bottom: -15px;
  margin-top: 8px;
  margin-left: 5px;
}
.Home {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}
.Home .detail_Container {
  width: 50%;
  height: inherit;
}
.Home .detail_Container h4 {
  padding-top: 5rem;
  margin-left: 40px;
  font-size: 18px;
  color: grey;
}
.Home .detail_Container h1 {
  margin-left: 35px;
  font-size: 3rem;
}
.Home .detail_Container h1 b {
  color: #1c61ff;
}
.Home .detail_Container p {
  margin-left: 35px;
  font-size: 14px;
  color: grey;
}
.Home .detail_Container .btn-click {
  padding: 15px 40px;
  border-radius: 4px;
  margin-left: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  background-color: #1c61ff;
  color: #fff;

}
.Home .image_container {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .svg_container {
  width: 20%;
  height: 35vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 110, 255, 0.083) 0px 10px 10px;
}
.Home .svg_container img {
  width: 70%;
  object-fit: cover;
}
.Home .svg_container:nth-child(2) {
  position: absolute;
  top: 0;
  margin-left: 25rem;
  margin-top: 18rem;
  z-index: 1;
}
.Home .svg_container:nth-child(3) {
  position: absolute;
  top: 0;
  margin-left: 19rem;
  margin-top: 1rem;
  width: 18%;
}
.Home .svg_container:nth-child(4) {
  position: absolute;
  top: 0;
  margin-left: -15rem;
  margin-top: 1rem;
  width: 15%;
  height: 25vh;
  z-index: 5;
}
.Home .svg_container:nth-child(5) {
  position: absolute;
  top: 0;
  margin-left: -15rem;
  margin-top: 22rem;
  width: 10%;
  height: 18vh;
  z-index: 3;
}
.Home .svg_container:nth-child(1) {
  z-index: 2;
}
.Genrate {
  width: 100%;
  height: auto;
  margin-top: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Genrate h3 {
  margin: 0 5rem;
  font-size: 2rem;
  color: black;
}

.Genrate .input {
  width: 100%;
  height: 50vh;
  background-color: #1c61ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bold{
  color: var(--Sec-color);
}
.Genrate .input input {
  width: 70%;
  height: 75px;
  font-size: 1.5rem;
  margin: 0 10px;
  outline: none;
  font-weight: 800;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  position: relative;
}
.Genrate .input button {
  height: 75px;
  padding: 0 25px;
  border: none;
  outline: none;
  font-weight: 700;
  border-radius: 5px;
}

.alert{
  position: absolute;
  margin-top: 7rem;
  left: 9rem;
  font-weight: 600;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 55%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-content h1{
  padding: 20px 255px;
  margin-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  font-weight: 800;
  color: black;
  text-align: center;
}
.modal-content button{
  padding: 22px 25px;
  margin-top: 25px;
  border: none;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 800;
  color: #333;
}
.bar_link{
  position: absolute;
  margin-top: 12rem;
}
.bar_link h3{
  font-size: 1rem;
}
.bar_link h3:hover{
  color: white;
  font-weight: 400;
  text-decoration: underline;
}
/* loader */
.Loader{
width: 100%;
height: 100vh;
background-color: #fff;
z-index: 1000;
position: fixed;
display: flex;
align-items: center;
justify-content: center;
}
.data-loader{
  margin-bottom: 10rem;
}
.data-loader > div:last-child {
	position: relative;
	width: 80px;
	height: 15px;
	margin: 1em auto;
}

.data-loader > div:last-child > div {
	position: absolute;
	top: 0;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #1c61ff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.data-loader > div:last-child > div:nth-child(1) {
	left: 8px;
	animation: data-loader-1 0.6s infinite;
}

.data-loader > div:last-child > div:nth-child(2) {
	left: 8px;
	animation: data-loader-2 0.6s infinite;
}

.data-loader > div:last-child > div:nth-child(3) {
	left: 32px;
	animation: data-loader-2 0.6s infinite;
}

.data-loader > div:last-child > div:nth-child(4) {
	left: 56px;
	animation: data-loader-3 0.6s infinite;
}

@keyframes data-loader-1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes data-loader-2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

@keyframes data-loader-3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
.dashboard{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.dashboard .first_bar {
 width: 100%;
 height: 50px;
}
.first_bar h1{
  margin: 15px 45px;
  font-size: 1.3rem;
}
.flex_container{
  width: 100%;
  height: auto;
  display: flex;
}
.flex_container .side1{
  flex-basis: 80%;
}
.flex_container .side2{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.flex_container .side2 h2{
  margin: 25px;
}
.flex_container .side2 .analytics_card{
  width: 100%;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.analytics_card .a_card{
  width:200px;
  height: 200px;
  background-color: #333;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  margin-bottom: 12px;
}
.a_card h1{
  font-size: 3rem;
}
.a_card:hover{
color: #1c61ff;
transition: 0.2s ease-in-out;
}
.user_details{
  width: 100%;
  height: 60vh;
  margin-left: 10px;
  background-color: #b2b2b252;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}
.user_details .first_u{
  flex-basis: 40%;
}
.user_details .second_u{
  flex-basis: 60%;
  background-color:black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.user_logo {
  width: 150px;
  height: 150px;
  margin: 35px 55px;
}
.user_logo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}
.other_Details{
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.other_Details h3{
  font-size: 1rem;
}
.other_Details h3 strong{
  color: green;
  font-weight: 800;
}



























table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-left: 10px;
  background-color: #b2b2b252;
}
th, td {
  text-align: left;
  padding: 8px;
  font-weight: 800;
}
th {
  background-color: #333;
  color: white;
}
tbody:hover{
  background-color: #1c61ff;
  color: white;
  scale: 1.01;
}
 .accordian{
  background-color: #1c61ff;
  height: 50px;
}
::selection{
  background-color: black;
  color: white;
}
.accordion-content{
  background-color: #333;
  color: white;
  height: 15vh;
}
.accordion-content td h4{
  margin: 15px;
}


/* pricing */

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}
/* ends here */


















